<article>
    <div class="container-fluid synopsisHeader ">
        <div>
            <h1>First Book in the "Fortress Church Series"</h1>
        </div>
        <ul class="nav nav-pills">
            <li ng-click="openSynopsis()" class=" btn btn-danger synopsisButton" >Synopsis</li>
            <li ng-click="openTableOfContents()" class=" btn btn-danger"  >Table of Contents</li>
            <li ng-click="openFirstChapter()"  class=" btn btn-danger firstChapterButton" >First Chapter</li>
        </ul>
    </div>
    <div>
        <synopsis-component ng-show="revealSynopsis"></synopsis-component>
        <table-of-contents-component ng-show="revealTableOfContents"></table-of-contents-component>
        <chapter-sample-component ng-show="revealFirstChapter"></chapter-sample-component>
    </div>
</article>






