<article>

    <div class="container-fluid synopsisHeader ">
        <div>
            <h1>First Book in the "Fortress Book Series"</h1>
        </div>
        <ul class="nav nav-pills center">
            <li ng-click="openSynopsis(); toggleActiveSynopsis()" ng-class="{'active': isActiveSynopsis}"  class=" btn btn-group-sm btn-ghost synopsisButton" >Synopsis</li>
            <li ng-click="openTableOfContents(); toggleActiveTableOfContents()" ng-class="{'active': isActiveTableOfContents}" class=" btn btn-group-sm btn-ghost"  >Table of Contents</li>
            <li ng-click="openFirstChapter(); toggleActiveFirstChapter()"  ng-class="{'active': isActiveFirstChapter}" class=" btn btn-group-sm btn-ghost  firstChapterButton" >First Chapter</li>
            <li class=" btn btn-group-sm btn-ghost"><a href="mailto:fortressbook@yahoo.com" target="_blank">Contact Author</a></li>
            <li class=" btn btn-group-sm btn-ghost"><a href="https://www.amazon.com/Fortress-Divinely-Protected-R-Crofton/dp/0692864970" target="_blank">Purchase Book</a></li>
        </ul>
    </div>
    <div>
        <synopsis-component ng-show="revealSynopsis" class="slide-animate check-element"></synopsis-component>
        <table-of-contents-component ng-show="revealTableOfContents" class="check-element slide-animate"></table-of-contents-component>
        <chapter-sample-component ng-show="revealFirstChapter" class="check-element slide-animate "></chapter-sample-component>
    </div>
</article>






