<article>
    <div class="container-fluid synopsisHeader ">
        <div>
            <h1>First Book in the "Fortress Church Series"</h1>
            <h2>(Publication Pending)</h2>
        </div>
        <ul class="nav nav-pills">
            <li ng-click="openSynopsis(); toggleActiveSynopsis()" ng-class="{'active': isActiveSynopsis}"  class=" btn btn-group-sm btn-ghost synopsisButton" >Synopsis</li>
            <li ng-click="openTableOfContents(); toggleActiveTableOfContents()" ng-class="{'active': isActiveTableOfContents}" class=" btn btn-group-sm btn-ghost"  >Table of Contents</li>
            <li ng-click="openFirstChapter(); toggleActiveFirstChapter()"  ng-class="{'active': isActiveFirstChapter}" class=" btn btn-group-sm btn-ghost  firstChapterButton" >First Chapter</li>
        </ul>
    </div>
    <div>
        <synopsis-component ng-show="revealSynopsis" class="slide-animate check-element"></synopsis-component>
        <table-of-contents-component ng-show="revealTableOfContents" class="check-element slide-animate"></table-of-contents-component>
        <chapter-sample-component ng-show="revealFirstChapter" class="check-element slide-animate "></chapter-sample-component>
    </div>
</article>






