/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */


.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.slide-animate {
    transition: all linear 1.5s;

}

.slide-animate.ng-hide {
    animation:0.5s lightSpeedOut ease;
    opacity: 0;
}
.slide-animate.ng-hide-add {
    transition: all 0.5s linear;
}
.check-element {
    opacity: 1;

}

.slide-animate.ng-hide-remove {

}
.btn-ghost {
    color: #fff;
    background-color: transparent;
    border-color: ghostwhite;
    border-radius: 0 !important;

}
.btn-ghost:focus,
.btn-ghost.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;

}
.btn-ghost:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-ghost:active:hover,
.btn-ghost.active:hover,
.open > .dropdown-toggle.btn-ghost:hover,
.btn-ghost:active:focus,
.btn-ghost.active:focus,
.open > .dropdown-toggle.btn-ghost:focus,
.btn-ghost:active.focus,
.btn-ghost.active.focus,
.open > .dropdown-toggle.btn-ghost.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
.btn-ghost:active,
.btn-ghost.active,
.open > .dropdown-toggle.btn-ghost {
    background-image: none;
}
.btn-ghost.disabled:hover,
.btn-ghost[disabled]:hover,
fieldset[disabled] .btn-ghost:hover,
.btn-ghost.disabled:focus,
.btn-ghost[disabled]:focus,
fieldset[disabled] .btn-ghost:focus,
.btn-ghost.disabled.focus,
.btn-ghost[disabled].focus,
fieldset[disabled] .btn-ghost.focus {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-ghost .badge {
    color: #d9534f;
    background-color: #fff;
}
.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 20px 0;
    font-family: Herculanum, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 4px;
    z-index: 1000;

}
.pagination > li {
    display: inline;
    font-size: 20px;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: red;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #ddd;
    z-index: 1000;

}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 1000;

}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1002;

}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 1000;
    color: ghostwhite;
    background-color: transparent;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: darkred;
    border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: transparent;
    border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.animate-repeat-tablerow.ng-move,
.animate-repeat-tablerow.ng-enter {
    transition:all linear 0.25s;
}

.animate-repeat-tablerow.ng-leave.ng-leave-active,
.animate-repeat-tablerow.ng-move,
.animate-repeat-tablerow.ng-enter {
    opacity:.25;
}

.animate-repeat-tablerow.ng-leave,
.animate-repeat-tablerow.ng-move.ng-move-active,
.animate-repeat-tablerow.ng-enter.ng-enter-active {
    opacity:.75;
}

.animate-repeat-tablerow.ng-leave,
.animate-repeat-tablerow.ng-leave.ng-leave-active {
    transition: all .1s;
}



.angular-with-newlines {
    white-space: pre-wrap;
}

.chapterPageBackground {
    background-image: url("../img/parchment.jpg");

    width: 100%;/* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Basic', sans-serif;
    color: #1a1a1a;
    font-size: 24px;
    padding: 20px 50px;

}


.animation-one {
    -webkit-animation-duration:  2s;
    -moz-animation-duration:  2s;
    animation-duration:  2s;
    -moz-animation-delay:  1s;
    -webkit-animation-delay:  1s;
    animation-delay:  1s;
    opacity: 1;
}

.animation-one.bounceInLeft {
    opacity: 1;
}


.animation-two {
    -webkit-animation-duration:  2s;
    -moz-animation-duration:  2s;
    animation-duration:  2s;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay:  2s;
    opacity: 1;
}
.animation-two.bounceInLeft{
    opacity:1;
}


.animation-three {
    -webkit-animation-duration:  2s;
    -moz-animation-duration:  2s;
    animation-duration:  2s;
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay:3.5s;
    animation-delay:  3.5s;
    opacity: 1;
}
.animation-three.bounceInLeft{
    opacity:1;
}


.animation-four {
    -webkit-animation-duration:  2s;
    -moz-animation-duration:  2s;
    animation-duration:  2s;
    -moz-animation-delay:  5s;
    -webkit-animation-delay:  5s;
    animation-delay:  5s;
    opacity: 1;
}
.animation-four.bounceInLeft{
    opacity:1;
}

.animation-five {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay:  6.5s;
     -webkit-animation-delay:  6.5s;
     animation-delay:  6.5s;
     opacity: 1;
 }
.animation-five.bounceInLeft{
    opacity:1;
}


.animation-six {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay:   8s;
     -webkit-animation-delay:   8s;
     animation-delay:  8s;
     opacity: 1;
 }
.animation-six.bounceInLeft{
    opacity:1;
}
.animation-seven {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay: 9.5s;
     -webkit-animation-delay: 9.5s;
     animation-delay:  9.5s;
     opacity: 1;
 }
.animation-seven.bounceInLeft{
    opacity:1;
}

.animation-eight {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay:  11s;
     -webkit-animation-delay: 11s;
     animation-delay:  11s;
     opacity: 1;
 }
.animation-eight.bounceInLeft{
    opacity:1;
}

.animation-nine {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay: 12.5s;
     -webkit-animation-delay: 12.5s;
     animation-delay:  12.5s;
     opacity: 1;
 }
.animation-nine.bounceInLeft{
    opacity:1;
}

.animation-ten {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay:  14s;
     -webkit-animation-delay:  14s;
     animation-delay:  14s;
     opacity: 1;
 }
.animation-ten.bounceInLeft{
    opacity:1;
}
.animation-eleven {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay:  15.5s;
     -webkit-animation-delay:  15.5s;
     animation-delay:  15.5s;
     opacity: 1;
 }
.animation-eleven.bounceInLeft{
    opacity:1;
}
.animation-twelve {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay:  17s;
     -webkit-animation-delay:  17s;
     animation-delay:  17s;
     opacity: 1;
 }
.animation-twelve.bounceInLeft{
    opacity:1;
}
.animation-thirteen {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay:  18.5s;
     -webkit-animation-delay:  18.5s;
     animation-delay:  18.5s;
     opacity: 1;
 }
.animation-thirteen.bounceInLeft{
    opacity:1;
}
.animation-fourteen {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay:  20s;
     -webkit-animation-delay:  20s;
     animation-delay:  20s;
     opacity: 1;
 }
.animation-fourteen.bounceInLeft{
    opacity:1;
}

.animation-fifteen {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay:  21.5s;
     -webkit-animation-delay:  21.5s;
     animation-delay:  21.5s;
     opacity: 1;
 }
.animation-fifteen.bounceInLeft{
    opacity:1;
}
.animation-sixteen {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay:  23s;
     -webkit-animation-delay:  23s;
     animation-delay:  23s;
     opacity: 1;
 }
.animation-sixteen.bounceInLeft{
    opacity:1;
}
.animation-seventeen {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay:   24.5s;
     -webkit-animation-delay:   24.5s;
     animation-delay:  24.5s;
     opacity: 1;
 }
.animation-seventeen.bounceInLeft{
    opacity:1;
}
.animation-eighteen {
     -webkit-animation-duration:  2s;
     -moz-animation-duration:  2s;
     animation-duration:  2s;
     -moz-animation-delay:  26s;
     -webkit-animation-delay:  26s;
     animation-delay:  26s;
     opacity: 1;
 }
.animation-eighteen.bounceInLeft{
    opacity:1;
}
.animation-nineteen {
    -webkit-animation-duration:  2s;
    -moz-animation-duration:  2s;
    animation-duration:  2s;
    -moz-animation-delay:   27.5s;
    -webkit-animation-delay:   27.5s;
    animation-delay:  27.5s;
    opacity: 1;
}
.animation-nineteen.bounceInLeft{
    opacity:1;
}

#bookTitle {
    font-family: 'Black Ops One', cursive;
    font-size: 200px;
    margin-top: 250px;
    color: rgba(203, 0, 0, 0.85);
    text-shadow: 10px 10px 10px #2e2e2e;
    letter-spacing: 2px;
    z-index: 1000;
    position: relative;
    text-align: center;

}

.pictureTitleBackground {
    background-image: url("../img/fortressSiteHeaderImage.jpg");

    height: 1250px;/* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 1250px;
    z-index: 100;
    position: relative;

}
video {
    z-index: 100;
    position: fixed;
    opacity: .20;
    top: -5%;
    height: 150%;
    width: auto;
    background-repeat: repeat;
    background-size: 100%;
    min-height: 1250px

}

.homeFooter div {
    background-color: black;
    margin-top:50px;
    color: ghostwhite;
    z-index: 2000;
    position: relative;
;
}

.homeFooter a {
    z-index: 1200;
    position: relative;
    padding-left: 5px;
    cursor: pointer;
}
.homeFooter h3 {
    margin-left: 5px;
    margin-right: 5px;
}


#bookSubTitle {
    color:whitesmoke;
    font-family: 'Oswald', sans-serif;
    text-shadow: 8px 8px 8px black;
    font-size: 80px;
    margin-top: -10px;
    z-index: 1000;
    position: relative;
    text-align: center;
}

#bookAuthor {
    color:gold;
    font-family: 'Quantico', sans-serif;
    text-shadow: 6px 6px 6px black;
    margin-top: 75px;
    font-size: 70px;
    z-index: 1000;
    text-align: center;

    position: relative;
}
.synopsisDivOne {
    padding: 25px;
    display: table;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    margin-top: 500px;

}

.synopsisDivTwo {
    padding: 25px;
    display: table;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    margin-top: 200px;
}

.synopsisDivThree, .synopsisDivSix {
    padding: 25px;
    display: table;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    margin-top: 350px;
}

.synopsisDivFour {
    padding: 25px;
    display: table;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    margin-top: 350px;
}

.synopsisHeader {
    background-color: black;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
    z-index: 1000;
}

.synopsisHeader h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    color: red;
    text-align: center;
    z-index: 1000;

}
.synopsisHeader h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: lightgray;
    text-align: center;
    z-index: 1000;

}

.synopsisHeader li {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: gold;
    margin-top: 20px;
    margin-right: 20px;
    z-index: 1000;
    cursor: pointer;

}
#tableOfContents li strong{
    color:ghostwhite;
    font-family: Futura, "Helvetica Neue", sans-serif;
    font-weight: 100;
}
#tableOfContents li{
    font-family: Herculanum, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: red;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
}

.synopsisArticleOne {
    margin-top: 0;
    opacity: .95;
}

.synopsisArticleTwo {
    margin-top: -200px;
    opacity: .95;

}
.synopsisArticleThree {
    margin-top: 375px;
    opacity: .95;

}

.synopsisArticleFour {
    margin-top: 375px;
    opacity: .95;

}

.synopsisArticleFive {
    margin-top: -700px;
    opacity: .95;

}
.synopsisArticleSix {
    margin-top: -200px;
    opacity: .95;


}

.synopsisDivOne h1, .synopsisDivTwo h1, .synopsisDivThree h1, .synopsisDivFour h1,  .synopsisDivSix h1{
    font-family:'Oswald', sans-serif;
    color: #fff1f1;
    text-align: center;
    letter-spacing: 2px;
    line-height: 150%;
    font-size: 45px;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/**
 Media Queries Home
 */




@media only screen and (max-width: 2000px ) {
    .pictureTitleBackground {
        height: 1150px;
        min-height: 1150px;

    }


    .synopsisHeader {
        height: 400px;
        margin-top: 0;
    }

    .synopsisArticleThree {
            margin-top: 550px;
    }
    .synopsisArticleFour {
        margin-top: 250px;
    }
    .synopsisArticleFive{
        margin-top: -500px;
    }
    .synopsisDivFour {

        margin-top: 275px;
    }
}

@media only screen and (max-width: 1750px ) {


    .pictureTitleBackground {
        height: 900px;/* Create the parallax scrolling effect */
        min-height: 900px;

    }
    #tableOfContents {
        margin-top: 50px;
    }

    #bookTitle {
        font-family: 'Black Ops One', cursive;
        font-size: 150px;
        margin-top: 175px;
        text-shadow: 6px 6px 6px #2e2e2e;
    }

    #bookSubTitle {
        text-shadow: 6px 6px 6px black;
        font-size: 60px;
    }

    #bookAuthor {
        margin-top: 75px;
        font-size: 50px
    }

    .synopsisHeader {
        height: 300px;
        margin-top: 100px;
    }

    .synopsisHeader h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 75px;
        text-align: center
    }

    .synopsisHeader li {
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
    }

    .synopsisDivOne {
        position: absolute;
        margin-top: 300px;
    }


    .synopsisArticleFour {
        margin-top: 275px;
    }

    .synopsisArticleFive {
        margin-top: -500px;
    }

    .synopsisDivOne h1, .synopsisDivTwo h1, .synopsisDivThree h1, .synopsisDivFour h1,  .synopsisDivSix h1 {
        font-size: 36px;
    }

}


@media only screen and (max-width: 1500px ) {


    .synopsisDivOne {
        position: absolute;
        margin-top: 250px;
    }

    .synopsisDivTwo {

        margin-top: 200px;
    }

    .synopsisDivThree,  .synopsisDivSix {

        margin-top: 300px;
    }

    .synopsisDivFour {

        margin-top: 350px;
    }


    .synopsisArticleTwo {
        margin-top: -150px;
    }
    .synopsisArticleFour {
        margin-top: 200px;
    }
    .synopsisArticleThree {
        margin-top: 350px;
    }
    .synopsisArticleFive {
        margin-top: -325px;
    }
    .synopsisArticleSix {
        margin-top: -50px;
    }
    .synopsisDivOne h1, .synopsisDivTwo h1, .synopsisDivThree h1, .synopsisDivFour h1,  .synopsisDivSix h1 {
        font-size: 36px;
    }

}

@media only screen and (max-width: 1350px ) {

    .pictureTitleBackground {
        height: 900px;/* Create the parallax scrolling effect */
    }

    #bookTitle {
        font-family: 'Black Ops One', cursive;
        font-size: 125px;
        margin-top: 175px;
        text-shadow: 6px 6px 6px #2e2e2e;
    }

    #bookSubTitle {
        text-shadow: 6px 6px 6px black;
        font-size: 50px;
    }

    #bookAuthor {
        margin-top: 75px;
        font-size: 40px
    }

    .synopsisHeader {
        height: 250px;
        margin-top: 50px;
    }

    .synopsisHeader h1 {
        font-size: 60px;

    }
    .synopsisHeader h2 {
        font-size: 40px;

    }

    .synopsisHeader li {
        font-size: 45px;
    }

    .synopsisDivOne h1, .synopsisDivTwo h1, .synopsisDivThree h1, .synopsisDivFour h1,  .synopsisDivSix h1 {
        font-size: 30px;
    }
}


@media only screen and (max-width: 1200px ) {
    #tableOfContents li{
        font-size: 20px;

    }
    .homeFooter div {
        margin-top:170px;

    }
    #tableOfContents {
        margin-top: 0;
    }

    .synopsisHeader {
        height: 400px;
        margin-top: 50px;
    }

    .synopsisHeader h1 {
        font-size: 60px;

    }

    .synopsisHeader li {
        font-size: 45px;
    }

    .synopsisArticleSix {
        margin-top: 0;
    }
    .synopsisDivSix {
        margin-top: 200px;
    }
    .synopsisDivOne h1, .synopsisDivTwo h1, .synopsisDivThree h1, .synopsisDivFour h1,  .synopsisDivSix h1 {
        font-size: 27px;
    }
    .synopsisDivOne {
        margin-top: 200px;
    }
    .synopsisArticleTwo {
        margin-top: 200px;
    }
    .synopsisArticleFive {
        margin-top: -100px;
    }

    .chapterPageBackground {

        font-family: 'Basic', sans-serif;
        color: #1a1a1a;
        font-size: 20px;
        padding: 20px 40px;
    }
}

@media only screen and (max-width: 991px ) {
    .pictureTitleBackground {
        height: 700px;/* Create the parallax scrolling effect */
        min-height: 700px;

    }
    .homeFooter div {
         margin-top: 125px;
     }
    .homeFooter h3, h4 {
        font-size: 18px;
    }

    #bookTitle {
        font-family: 'Black Ops One', cursive;
        font-size: 110px;
        margin-top: 155px;
        text-shadow: 6px 6px 6px #2e2e2e;
    }

    #bookSubTitle {
        text-shadow: 6px 6px 6px black;
        font-size: 45px;
    }

    #bookAuthor {
        margin-top: 55px;
        font-size: 36px
    }
    .synopsisHeader {
        height: 400px;
        margin-top: 0;
    }

    .synopsisHeader h1 {
        font-size: 50px;

    }

    .synopsisHeader h2 {
        font-size: 30px;

    }
    .synopsisHeader li {
        font-size: 40px;
    }
    .synopsisDivOne h1, .synopsisDivTwo h1, .synopsisDivThree h1, .synopsisDivFour h1,  .synopsisDivSix h1 {
        font-size: 24px;
    }
    .synopsisDivFour {

        margin-top: 250px;
    }
    .synopsisDivThree {

        margin-top: 225px;
    }
    .synopsisDivSix {
        margin-top: 150px;
    }
}
@media only screen and (max-width: 767px ) {

    .pictureTitleBackground {
        height: 600px;/* Create the parallax scrolling effect */
        background-position: 60%;
        min-height: 600px;

    }

    #bookTitle {
        font-family: 'Black Ops One', cursive;
        font-size: 80px;
        margin-top: 115px;
        text-shadow: 6px 6px 6px #2e2e2e;
    }

    #bookSubTitle {
        text-shadow: 5px 5px 5px black;
        font-size: 36px;
    }

    #bookAuthor {
        margin-top: 47px;
        font-size: 32px
    }
    .synopsisHeader {
        height: 250px;
        margin-top: 0;
    }

    .synopsisHeader h1 {
        font-size: 32px;
    }
    .synopsisHeader h2 {
        font-size: 24px;

    }

    .synopsisHeader li {
        font-size: 24px;
        margin-top: 5px;
    }
    .synopsisDivOne h1, .synopsisDivTwo h1, .synopsisDivThree h1, .synopsisDivFour h1,  .synopsisDivSix h1 {
        font-size: 20px;
    }
    .synopsisDivOne {
        margin-top: 150px;
    }
    .synopsisDivFour {

        margin-top: 200px;
    }
    .synopsisDivThree {

        margin-top: 200px;
    }
    .synopsisDivSix {
        margin-top: 150px;
    }
    .synopsisArticleFive {
        margin-top: 50px;
    }
    #tableOfContents ul {
        padding-left: 0;
    }

    .homeFooter div {
        margin-top:60px;
    }
    .homeFooter h3, h4 {
        font-size: 15px;
    }


}

@media only screen and (max-width: 650px ) {
    .synopsisDivOne h1, .synopsisDivTwo h1, .synopsisDivThree h1, .synopsisDivFour h1,  .synopsisDivSix h1 {
        font-size: 16px; letter-spacing: 0;
    }
    .synopsisDivFour {

        margin-top: 150px;
    }

    #tableOfContents li{
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .chapterPageBackground {

        font-family: 'Basic', sans-serif;
        color: #1a1a1a;
        font-size: 18px;
        padding: 10px 10px;
    }
}
@media only screen and (max-width: 599px ) {
    .pictureTitleBackground {
        height: 500px;/* Create the parallax scrolling effect */
        background-position: 100%;
        min-height: 500px;
        background-attachment: scroll;
        background-size: 110%;
        background-image: url("../img/fortressSiteHeaderImage(mobile).jpeg");

    }
    .synopsisDivOne {
        margin-top: 100px;
    }
    .synopsisDivTwo {

        margin-top: 150px;
    }



    .synopsisHeader {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .synopsisHeader h1 {
        font-size: 26px;
        text-align: center
    }
    .synopsisHeader h2 {
        font-size: 18px;

    }
    .synopsisHeader li {
        font-size: 18px;
        margin-top: 5px;
        margin-right: 15px;
        display: block;
    }
}
@media only screen and (max-width: 499px ) {
    .pagination > li {
        display: inline;
        font-size: 16px;
    }
    .pagination > li > a {
        display: inline;
        padding: 8px;
    }
     .pagination > li > a {
        display: inline;
        padding: 12px;
    }
    #bookTitle {
        font-family: 'Black Ops One', cursive;
        font-size: 60px;
        margin-top: 115px;
        text-shadow: 5px 5px 5px #2e2e2e;
    }

    #bookSubTitle {
        text-shadow: 4px 4px 4px black;
        font-size: 30px;
    }

    #bookAuthor {
        margin-top: 47px;
        font-size: 28px
    }

    .synopsisHeader {
        height: 175px;
    }

    .synopsisHeader h1 {
        font-size: 22px;
    }
    .synopsisHeader h2 {
        font-size:16px;
        margin-top: 0;
        padding-top: 0;
    }

    .synopsisHeader li {
        font-size: 18px;
        margin-top: 5px;
    }

    .synopsisDivOne {
        margin-top: 100px;
    }

    .synopsisDivTwo {

        margin-top: 75px;
    }

    .synopsisDivThree {

        margin-top: 100px;
    }

    .synopsisDivFour {

        margin-top: 100px;
    }

    .synopsisDivSix {
        margin-top: 120px;
    }
    .chapterPageBackground {

        color: #1a1a1a;
        font-size: 16px;
    }
    .homeFooter div {
        z-index: 2000;
        padding-top: 1px;
        background-color: black;

    }
    .homeFooter h3, h4 {
        font-size: 12px;
    }
}
    @media only screen and (max-width: 496px ) {
    .synopsisButton {
        margin-left: 0;
    }
        .synopsisHeader li {
            padding: 3px 6px;
        }
    .firstChapterButton.btn-danger{
        margin-left: 0;
        margin-bottom: 25px;
    }
        .homeFooter div {
            margin-top: 50px;
        }

        .homeFooter h3 {
            font-size: 12px;
        }
        .homeFooter h4 {
            font-size: 10px;
        }
    }
@media only screen and (max-width: 380px ) {
    .pictureTitleBackground {
        height: 400px;/* Create the parallax scrolling effect */
        background-position: 50%;
        min-height: 400px;

    }

    .synopsisHeader li {
        font-size: 15px;
        margin-right: 5px;
        padding: 2px 4px;
    }
    .firstChapterButton.btn-danger{
        margin-left: 30%;
        margin-bottom: 25px;
    }
    .synopsisDivOne h1, .synopsisDivTwo h1, .synopsisDivThree h1, .synopsisDivFour h1,  .synopsisDivSix h1 {
        font-size: 14px; letter-spacing: 0;
    }
    #bookTitle {
        font-family: 'Black Ops One', cursive;
        font-size: 45px;
        margin-top: 80px;
        text-shadow: 5px 5px 5px #2e2e2e;
    }

    #bookSubTitle {
        text-shadow: 4px 4px 4px black;
        margin-top: 15px;
        font-size: 25px;
    }

    #bookAuthor {
        margin-top: 40px;
        font-size: 22px
    }
    .synopsisHeader {
        height: 225px;
    }
    .synopsisHeader h1 {
        margin-top: -20px;
        font-size: 20px;
    }

    .synopsisHeader li {
        font-size: 18px;
        margin-top: 5px;
    }
    .synopsisDivOne {
        margin-top: 50px;
    }
    .synopsisDivTwo {

        margin-top: 55px;
    }
    .synopsisDivThree {

        margin-top: 75px;
    }
    .synopsisDivFour {

        margin-top: 75px;
    }
    .synopsisDivSix {
        margin-top: 120px;
    }
    .synopsisArticleSix {
        margin-top: 70px;
    }
    .synopsisArticleThree {
        margin-top: 150px;
    }
}

@media only screen and (max-width: 334px ) {
    .synopsisHeader h1 {
        font-size: 18px;
    }
    .synopsisHeader li {
        font-size: 15px;
        margin-top: 5px;
    }
    .synopsisButton {
        margin-left: 0;
    }
    .synopsisDivOne {
        margin-top: 10px;
    }
    .synopsisDivTwo {

        margin-top: 25px;
    }
    .synopsisDivThree,   .synopsisDivFour {

        margin-top: 50px;
    }
    .synopsisDivSix {
        margin-top: 60px;
    }
    .firstChapterButton.btn-danger {
        margin-left: 30%;
        margin-bottom: 25px;
    }
}
@media only screen and (max-width: 284px ) {
    .synopsisHeader {
        font-size: 15px
    }
    .synopsisHeader ul {
        margin-left: 25%;
    }
    .firstChapterButton.btn-danger {
        margin-left: 0;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
